@{
    ViewData["Title"] = "Map";
    var version = System.IO.File.GetLastWriteTimeUtc(string.Concat("./img/output", (ViewBag.AlternateColours?"_alt":""),".png")).ToString("yyyyMMddHHmmss");
}

<a class='nav-link text-dark' href='./img/output@(ViewBag.AlternateColours?"_alt":"").png?v=@(version)' alt='click to fullscreen' style='max-width:1024px;max-height:1024px;'>
    <img src='./img/output@(ViewBag.AlternateColours?"_alt":"").png?v=@(version)' alt='Map Image' width='1024' height='1024'>
</a>